@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary text-white px-4 py-2 rounded-lg hover:opacity-90;
  }
  .input {
    @apply w-full px-4 py-2 rounded-lg border border-border
    focus:outline-none focus:ring-2 focus:ring-primary-500;
  }
  .label {
    @apply block text-sm font-medium text-textMain mb-1;
  }

}